*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-attachment: fixed;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px 0 60px;
    margin-top: 22px;
}

nav ul{
    display: flex;
    align-items: center;
}
.list{
   display: flex;
   justify-content: space-between;
    align-items: center;
    list-style: none;
    font-weight: 400;
    color: #ffc233;
    gap: 63px;
    font-size: 18px;
    line-height: 22px;
}

.bb button{
    padding: 20px 20px;
    font-size: 20px;
    color:white;
    font-weight: 400;
    width: 120px;
    border: hidden;
    background-color: #ff505f;
    cursor: pointer;
    
}

/*main{
    display: flex;
    align-items: center;
    color:gold ;
    }*/
.menuM {
      
        max-width: 1154px;
        margin: 0 auto;
        text-align: center;
        margin-top: 100px;
     }
.hero {

    font-style: normal;
    font-weight: 250;
    font-size: 100px;
    line-height: 100px;
    font-family: "Dela Gothic One", cursive;
    color: #ffc233;
     }

.b1 {

    background: #ff505f;
    font-family: "Red Rose";
    font-style: normal;
    font-weight: 70;
    font-size: 32px;
    line-height: 40px;
    color: #ffffff;
    border: none;
    padding: 24px 56px;
    margin-top: 64px;
    cursor: pointer;

}

.buttom {
    position: absolute;
    bottom: 20px;
    right: 40px;
  }